* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  display: flex;
}

.head {
  text-align: center;
  font-size: 1.8rem;
  color: #41489e;
  position: relative;
  margin-bottom: 40px;
}
.head::after {
  content: "";
  height: 1px;
  width: 500px;
  background-color: gray;
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
}

.container {
  margin: 0 auto;
  width: 80%;
}


/* Header */
header {
  background: linear-gradient(black, gray);
  position: sticky;
  top: 0;
  z-index: 99;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
}

header .logo img {
  width: 60px;
}

header nav ul li a {
  color: white;
  padding: 40px;
}
/* Header End */

/* Home Section */
section#home {
  height: 85vh;
  background-color: #fddd00;
}

section#home .img {
  width: 100%;
  height: 100%;
  background: url(../images/banner.jpg) center center/cover;
  clip-path: circle(55% at 50% 20%);
}

section#home .search {
  width: fit-content;
  background-color: black;
  padding: 5px 10px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  position: fixed;
  top: 30%;
}

section#home .search img {
  width: 30px;
}
/* Home Section End */

/* Academy Section */
section#academy {
  position: relative;
  top: -30px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 60px;
}

section#academy div {
  display: flex;
  align-items: center;
  background-color: white;
  height: 150px;
  border: 2px solid #fddd00;
  position: relative;
}

section#academy div::after {
  content: "Join Now";
  font-size: 28px;
  font-weight: bold;
  width: 150px;
  height: 150px;
  position: absolute;
  top: 0;
  left: 0;
  background: #fddb0084;
  cursor: pointer;
  clip-path: circle(00% at 0% 0%);
  transition: 0.4s;
}

section#academy div:hover::after {
  clip-path: circle(80% at 20% 0%);
}
/* Academy Section End */

/* About Section */
section#about .content {
  display: flex;
  justify-content: space-between;
}

section#about .content .text {
  color: #41489e;
}

section#about .content .text p {
  padding: 20px 30px;
}

section#about .content .img img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 450px;
}
/* About Section End */

/* Schedule Section */
section#schedule table {
  width: 100%;
  margin-bottom: 20px;
}

section#schedule table tr {
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
}

section#schedule table tr:nth-child(even) {
  background-color: rgba(128, 128, 128, 0.591);
}
/* Sechudle Seciton End */

/* News Section */
section#news .news {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

section#news .news .card {
  width: 350px;
  border: 1px solid gray;
  box-shadow: 1px 1px 10px rgba(128, 128, 128, 0.3);
}

section#news .news .card img {
  width: 100%;
  padding: 10px;
}
/* News Section End */

/* Video Section */
section#video .container {
  background-color: #fddd00;
  padding: 5px;
  display: flex;
  justify-content: space-between;
}

section#video .container img {
  width: 500px;
}
/* Video Section End */

/* Map Section */
section#map {
  height: 500px;
}
/* Map Section End */

footer {
  padding: 10px;
  text-align: center;
  background-color: black;
  color: white;
}