/* Global Rules */
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  font-family: 'Heebo', sans-serif;
}

.container {
  margin: 0 auto;
  width: 800px;
}

#clear {
  clear: both;
}

.btns {
  padding: 30px 0;
}

.btns button {
  border: 1px solid orange;
  padding: 10px 20px;
  border-radius: 5px;
}

.btns .see-menu {
  background-color: orange;
}

.btns .see-menu a {
  text-decoration: none;
  color: rgb(18, 17, 17);
  font-weight: 700;
}

.btns .book-table {
  background-color: transparent;
}

.btns .book-table a {
  text-decoration: none;
  color: orange;
  font-weight: 700;
}

/* Header */
.background-img {
  background: rgba(0, 0, 0, 0.6) url(../images/banner.jpg) center center/cover;
  background-blend-mode: multiply;
  color: white;
  /* height: 100vh; */
}

header {
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
  padding: 10px 0;
}

header .logo {
  float: left;
}

header .logo img {
  margin-right: 10px;
  width: 30px;
}

header .logo h1 {
  float: right;
  font-size: 1.5rem;
}

header .nav-bar {
  float: right;
}

header .nav-bar ul {
  list-style: none;
}

header .nav-bar ul li {
  display: inline-block;
}

header .nav-bar ul li a {
  text-decoration: none;
  color: white;
  margin-left: calc(50px/4);
  font-weight: bold;
}

header .nav-bar ul .active a {
  color: orange;
}
/* Header End */

/* Landing Section */
section.landing .content {
  width: 50%;
  padding: 100px 0;
}

section.landing .content h1 {
  font-weight: 500;
  font-size: 32px;
}

section.landing .content h2 {
  font-size: 5rem;
  font-family: sans-serif;
  -webkit-text-stroke: 1px white;
  color: transparent;
  margin-bottom: 20px;
}

/* Landing Section End */

/* About Section */
section.about {
  background-color: #ececec;
  padding: 60px 0;
}

section.about .card {
  color: #4a465f;
  display: inline-block;
  background-color: white;
  text-align: center;
  padding: 20px;
  width: calc(100% / 3 - 15px);
  margin-left: 10px;
  border-radius: 10px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

section.about .card h1 {
  margin: 20px 0;
}

section.about .card a {
  color: #4a465f;
  display: block;
  text-decoration: none;
  margin: 10px 0;
  font-weight: bold;
}
/* About Section End */

/* Menu Section */
section.menu .menu-list {
  display: inline-block;
  width: 40%;
  padding-top: 100px;
}


section.menu ul {
  list-style: none;
}

section.menu ul li {
  font-size: 24px;
  color: #4a465f;
  margin-bottom: 20px;
}

section.menu ul li i {
  color: orange;
}

section.menu .img {
  float: right;
  width: 50%;
}
section.menu .img img {
  width: 80%;
}
/* Menu Section End */

/* Contact Section */
section.contact {
  padding: 100px 0 80px 0;
  background: rgba(0, 0, 0, 0.6) url(../images/bg.jpg) center bottom/cover;
  background-blend-mode: multiply;
}

section.contact .content {
  margin: 0 auto;
  width: 500px;
  text-align: center;
  color: white;
}

section.contact .content h1 {
  font-size: 32px;
}

section.contact .content span {
  color: orange;
}
/* Contact Section End */

/* Footer */
footer {
  background-color: #1c1d20;
  text-align: center;
  color: rgba(255, 255, 255, 0.564);
  padding: 20px 0;
}